---
import Layout from "../layouts/Layout.astro";
import groq from "groq";
import { sanity } from "../lib/sanityClient";
import PortableText from "../components/PortableText.astro";

const about = await sanity.fetch(groq`
    *[_type == "about"][0]{
        title,
        portrait{
          asset->{
            url
          },
          alt
        },
        bio,
        CV
    }
`);
---

{/* Viser About-siden*/}

{/* Siden bruker Layout-komponenten for å sette tittel og generell layout, og PortableText for å vise biografien som er skrevet i Sanity. */ }
<Layout title={about.title}>
  <main>
    <section class="mx-auto max-w-5xl space-y-10 px-4 py-16 md:px-10">
      <h1 class="mb-15 text-3xl leading-[1.1] text-center tracking-wide text-neutral-950 sm:text-4xl md:text-5xl">{about.title}
          </h1>
      <div class="grid gap-10 md:grid-cols-[1fr_380px] md:gap-16 items-center">
        <div>
          <PortableText value={about.bio} />
        </div>

        {/* Portrettbilde  */}
        <div>
          <img
            src={about.portrait.asset.url}
            alt={about.portrait?.alt || "Portrait of Hanna Karlsen"}
            class="w-full aspect-4/5 object-cover"
          />
        </div>
      </div>
      
    </section>
  </main>
</Layout>