---
import Layout from "../layouts/Layout.astro";
import groq from "groq";
import { sanity } from "../lib/sanityClient";

const about = await sanity.fetch(groq`
    *[_type == "about"][0]{
        title,
        "portraitUrl": portrait.asset->url,
        bio,
        CV
    }
`);
---

<Layout>
    
    <body class="bg-slate-950 text-white">

        <section class="space-y-10 text-justify max-w-4xl mx-auto px-4 py-16">

                <div>
                    <img 
                    src={about.portraitUrl} 
                    alt="Portrett av Hanna" 
                    class="w-full max-w-sm object-cover rounded-lg"
                    />
                </div>

                <div>
                    <h1 class="text-4xl font-bold mb-8">{about.title}</h1>

                    <div class="space-y-4">
                        {about.bio.map((block: any) => (
                            <p class="text-lg leading-relaxed text-neutral-900">
                                {block.children[0].text}
                            </p>
                        ))}
                    </div>
                </div>
            

            <div class="mt-16 border-t pt-8">
                <h2 class="text-4xl font-semibold mb-8">CV</h2>
                <ul class="list-disc ml-6 spac-y-2">
                    {about.CV?.map((item: string) => (
                        <li class="text-neutral-900 text-xl">{item}</li>
                    ))}
                </ul>
            </div>

        </section>
    </body>
</Layout>