---
import Layout from "../layouts/Layout.astro";
import groq from "groq";
import { sanity } from "../lib/sanityClient";
import PortableText from "../components/PortableText.astro";

const about = await sanity.fetch(groq`
    *[_type == "about"][0]{
        title,
        "portraitUrl": portrait.asset->url,
        bio,
        CV
    }
`);
---

<Layout>
  <body class="bg-slate-950 text-neutral-800">
    <section class="mx-auto max-w-5xl px-4 py-16">
      <div class="grid gap-10 md:grid-cols-[1fr_380px] md:gap-16 items-center">
        <div>
          <h1 class="text-4xl mb-6">{about.title}</h1>
          <div class="mb-10"></div>
          <PortableText value={about.bio} />
        </div>

        <div>
          <img
            src={about.portraitUrl}
            alt="Artist portrait"
            class="w-full aspect-4/5 object-cover"
          />
        </div>
      </div>
      
    </section>
  </body>
</Layout>