---
import Layout from "../layouts/Layout.astro";
import groq from "groq";
import { sanity } from "../lib/sanityClient";

const about = await sanity.fetch(groq`
    *[_type == "about"][0]{
        title,
        "portraitUrl": portrait.asset->url,
        bio,
        CV
    }
`);
---

<Layout>
    
    <body class="bg-slate-950 text-white">

                <section class="mx-auto max-w-5xl px-4 py-16">
                <div class="grid gap-10 md:grid-cols-[1fr_380px] md:gap-16 items-center">

                    {/* TEKST */}
                    <div>
                    <h1 class="text-4xl mb-6">{about.title}</h1>

                    <div class="space-y-4 text-base leading-8 text-neutral-800">
                        {about.bio.map((block: any) => (
                        <p>{block.children[0].text}</p>
                        ))}
                    </div>
                    </div>


                    {/* PORTRETT */}
                    <div>
                    <img
                        src={about.portraitUrl}
                        alt="Artist portrait"
                        class="w-full aspect-4/5 object-cover"
                    />
                    </div>
                </div>
        
        </section>
    </body>
</Layout>