---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-4xl text-blue-600 font-bold">Her kommer kontaktinformasjonen til Hanna</h1>
    <p>Kanskje vil det komme bilder o.l:)</p>
</Layout>