---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1 class="text-4xl text-blue-600 font-bold">
    Dette er en porteføljeside for HK, laget med Astro og Sanity.
  </h1>

  <div style="height: 2000px; padding-top: 2rem;">
    Scroll ned for å teste sticky header
  </div>
</Layout>


