---
import Layout from '../layouts/Layout.astro';
import { sanity } from '../lib/sanityClient';
import groq from 'groq';


const frontpage = await sanity.fetch(
  groq`*[_type == "frontpage"][0]{
    heroHeading,
    heroSubheading,
    heroImage,
    "heroImageUrl": heroImage.asset->url
  }`
);

---


<Layout title="Home">

    {frontpage?.heroImageUrl && (
      <section class="relative h-[80vh] w-full overflow-hidden bg-[#F4F2EE]">

        <img
          src={frontpage.heroImageUrl}
          alt=""
          class="absolute inset-0 h-full w-full object-cover blur-xl scale-110"
        />  

        <img
          src={frontpage.heroImageUrl}
          alt="Hero image"
          class="absolute inset-0 h-full w-full object-contain"
        />

        <div class="absolute inset-0 bg-black/30"></div> 

        <div class="relative z-10 flex h-full flex-col items-center justify-center text-white text-center px-6">
          {frontpage?.heroHeading && (
            <h1 class="text-5xl font-semibold mb-4">
              {frontpage.heroHeading}
            </h1>
          )}

          {frontpage?.heroSubheading && (
            <p class="text-xl max-w-2xl">
              {frontpage.heroSubheading}
            </p>
          )}
        </div>
        
      </section>
    )}

</Layout> 


