---
import Layout from "../layouts/Layout.astro";
import groq from "groq";
import { sanity } from "../lib/sanityClient";
import { urlFor } from "../lib/sanityImage";

const data = await sanity.fetch(groq`
  *[_type == "homePage"][0]{
    heroImage{
      ...,
      alt
    }
  }
`);
---

{/* Framside eller landing-page, oppdragsgiver kan endre bakgrunnsbilde via */}

<Layout backgroundImage={data?.heroImage}>
  <section class="relative h-[70vh] min-h-125 w-full">
    

    <div class="relative z-10 mx-auto flex h-full max-w-7xl items-end px-6 pb-16 md:px-10">
      <div class="max-w-2xl text-white">
      </div>
    </div>
  </section>
</Layout>