---
import Layout from "../layouts/Layout.astro";
import groq from "groq";
import { sanity } from "../lib/sanityClient";
import { urlFor } from "../lib/sanityImage";

const data = await sanity.fetch(groq`
  *[_type == "homePage"][0]{
    heroImage{
      ...,
      alt
    }
  }
`);
---

<Layout backgroundImage={data?.heroImage}>
  <section class="relative h-[70vh] min-h-[500px] w-full">
    

    <div class="relative z-10 mx-auto flex h-full max-w-7xl items-end px-6 pb-16 md:px-10">
      <div class="max-w-2xl text-white">
        <h1 class="text-4xl font-semibold leading-tight md:text-6xl">
          Hanna K
        </h1>
      </div>
    </div>
  </section>
</Layout>