---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-4xl text-blue-600 font-bold">Her kommer det bilder og informasjon om glass-studio</h1>
    <h2>Tester ut forskjellig ting</h2>
</Layout>