---
import Layout from '../layouts/Layout.astro';
import PortableText from '../components/PortableText.astro';
import groq from 'groq';
import { sanity } from '../lib/sanityClient';

const privacyPolicy = await sanity.fetch(groq`
  *[_type == "privacyPolicy"][0]{
    title,
    content
  }
`);
---

<Layout>
  <body class="bg-slate-950 text-neutral-800">
    <section class="mx-auto max-w-3xl px-6 py-16">
      <h1 class="mb-8 text-4xl font-semibold">
        {privacyPolicy?.title ?? 'Privacy Policy'}
      </h1>

      <PortableText value={privacyPolicy?.content} />
    </section>
  </body>
</Layout>