---
import Layout from '../layouts/Layout.astro';
import PortableText from '../components/PortableText.astro';
import groq from 'groq';
import { sanity } from '../lib/sanityClient';

const privacyPolicy = await sanity.fetch(groq`
  *[_type == "privacyPolicy"][0]{
    title,
    content
  }
`);
---
{/* Privacy Policy-side, denne siden viser en helt enkel side med privacy policy-informasjon. Denne kan også oppdateres via Sanity */}

{/* Viser tittel for siden og enkel beskrivelse */}
<Layout>
    <section class="mx-auto max-w-3xl px-6 py-16">

      <h1 class="mb-8 text-4xl font-semibold">
        {privacyPolicy?.title ?? 'Privacy Policy'}
      </h1>

      <PortableText value={privacyPolicy?.content} />
      
    </section>
</Layout>