<footer>
    <div class="footer-inner">
        <div class="footer-left">
            <p>Hanna Karlsen</p>
            <p>Glasskunstner</p>
        </div>
        
        <div class="footer-right">
        <p>© {new Date().getFullYear()}</p>
        </div>

    </div>
</footer>