

<footer class="w-full px-8 py-6 border-t border-gray-300 bg-[#c2b1a4]">
    <div class="w-full px-8 flex justify-between items-center">

        <div class="space-y-1">
            <p class="m-0 text-sm text-black">Hanna Karlsen</p>
            <p class="m-0 text-sm text-black">Glasskunstner</p>
        </div>
        
        <div>
        <p class="m-0 text-sm text-black">© {new Date().getFullYear()}</p>
        </div>

    </div>
</footer>