<header>
    <div class=container>
        <nav class="nav">
            <a href="/" class="logo">Hanna</a>

            <div class="nav-links">
                <a href="/oyaglass">Øya glass studio</a>
                <a href="/about">Om</a>
                <a href="/contact">Kontakt</a>
            </div>
        </nav>
    </div>    
</header>