<header>
    <div class=container>
        <nav class="nav">
            <a href="/" class="logo">Hanna K</a>

            <div class="nav-links">
                <a href="/sculptural">Sculptural</a>
                <a href="/oyaglass">Øya glass studio</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </nav>
    </div>    
</header>