<header class="sticky top-0 z-50 bg-white">
    <div class="flex items-center justify-between px-10 py-6">

        <a href="/" class="text-2xl font-semibold tracking-wide">
            Øya glass studio
        </a>


        <nav class="flex gap-8 text-lg">
            <a href="smykkekolleksjon" class="hover:opacity-60 transition">Smykkekolleksjon</a>
            <a href="anvendtKunst" class="hover:opacity-60 transition">Anvendt kunst</a>
            <a href="skulpturer" class="hover:opacity-60 transition">Skulpturer</a>
            <a href="kontaktinfo" class="hover:opacity-60 transition">Kontakt</a> 
        </nav>
        
    </div>  
</header>