---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { sanity } from "../lib/sanityClient";
import { urlFor } from "../lib/sanityImage";

const { backgroundImage } = Astro.props;

const categories = await sanity.fetch(`
  *[_type == "category"] | order(title asc) {
    title,
    "slug": slug.current
  }
`);

const backgroundUrl = backgroundImage
  ? urlFor(backgroundImage).width(2000).fit("max").url()
  : null;
---

<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hanna Karlsen</title>
    
    {/* Preload skrifttype for bedre ytelse på siden */}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
      href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>


  <body
    class="min-h-screen bg-cover bg-center bg-no-repeat"
    style={backgroundUrl ? `background-image: url('${backgroundUrl}');` : undefined}
  >
    {/* Bruker bakgrunnsbilde fra Sanity hvis det er satt, ellers ingen bakgrunnsbilde
    Setter bakgrunnsbildet til å fylle hele skjermen, slik at det ikke blir hvitt mellomrom mellom header og footer. */}

    {/* Wrapper for hele siden, inkluderer header og footer */}
    <div class="min-h-screen flex flex-col">
      <Header categories={categories} />

      <main class="flex-1 pt-28 md:pt-30">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>